@page "/settings"
@inject IDataService data

<AuthorizeView>
    <Authorized>
        <span>Username</span>
        <div class="input-group">
            <label class="form-control">@context.User.Identity.Name</label>
        </div>

    </Authorized>
</AuthorizeView>


@code{
    private string name = "";

    protected override void OnInitialized()
    {
        name = data.CurrentUser.Name;
    }
}
